@reference "@/styles/global.css";

.outerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  --bubble-dark-c: 0.12;
  --bubble-dark-l: 36%;
  --bubble-light-c: 0.12;
  --bubble-light-l: 82%;
  --user-colour: oklch(
    var(--bubble-light-l) var(--bubble-light-c) var(--user-hue)
  );
  @variant dark {
    --user-colour: oklch(
      var(--bubble-dark-l) var(--bubble-dark-c) var(--user-hue)
    );
  }
}
