@reference "@/styles/global.css";

.outerDiv {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header  header"
    "chat    sidebar"
    "entry   sidebar";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  container-type: size;
  --bubble-dark-c: 0.12;
  --bubble-dark-l: 36%;
  --bubble-light-c: 0.12;
  --bubble-light-l: 82%;
  --user-colour: oklch(
    var(--bubble-light-l) var(--bubble-light-c) var(--user-hue)
  );
  @variant dark {
    --user-colour: oklch(
      var(--bubble-dark-l) var(--bubble-dark-c) var(--user-hue)
    );
  }

  > header {
    grid-area: header;
  }
}

.chatArea {
  grid-area: header / header / chat / chat;
  min-height: 0;
  position: relative;
  max-width: 56rem;
  width: 100%;
  margin-inline: auto;
}

.chatMessages {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.chatMessages::before {
  content: "";
  flex: 1 0 auto;
}

.entryArea {
  grid-area: entry;
  max-width: 56rem;
  width: 100%;
  margin-inline: auto;
}

.sidebarWrapper {
  grid-area: sidebar;
  position: relative;
  display: flex;
}
