@reference "@/styles/global.css";

@layer components {
  .input {
    /*@apply bg-base-100 border-base-content/30 text-center;*/
    background-color: var(--color-base-100);
    border-color: oklch(from var(--color-base-content) l c h / 30%);
    text-align: center;

    /*@apply focus:bg-accent/30 w-16 rounded-none border-r;*/
    &:focus {
      background-color: oklch(from var(--color-accent) l c h / 20%);
      /*border-color: var(--color-accent);*/
      outline-style: solid;
    }
    width: calc(var(--spacing) * 16);
    border-radius: 0;
    border-right-style: var(--tw-border-style);
    border-right-width: 1px;

    /*@apply outline-accent -outline-offset-2 outline-none focus:outline-2 focus:outline-solid;*/
    outline-color: var(--color-accent);
    outline-offset: -2px;
    outline-width: 2px;
    outline-style: none;

    /*@apply [&::-webkit-inner-spin-button]:-my-2 [&::-webkit-inner-spin-button]:me-1;*/
    &::-webkit-inner-spin-button {
      margin-block: calc(var(--spacing-2) * -1);
    }
    &::-webkit-inner-spin-button {
      margin-inline-end: var(--spacing-1);
    }
  }
}
