@import "#/styles/global.css";

.root {
  /*background-color: red;*/
  display: grid;
  grid-template-columns: [tabs] auto [content] 1fr;
}

.tabList {
  margin-top: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 2);
}

.tabContent {
  overflow: auto;
}
