@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui" {
  themes: cupcake, dracula;
}

@custom-variant dark {
  &:where([data-theme="dracula"], [data-theme="dracula"] *),
  &:where([data-theme="havocDark"], [data-theme="havocDark"] *) {
    @slot;
  }
}

@import "./themeUtils.css";
@import "./themes/havocDark.css";
@import "./themes/havocLight.css";

@theme {
  /*
  this is just here to make --l-colored-text be a theme variable in tailwind's
  world. The actual value from the Daisy theme will take precedence.
  */
  --l-colored-text: 0.7;

  /* ---------------------------------------------------------------------------
   * extra colour variables based on daisy
   * -------------------------------------------------------------------------*/

  --color-primary-text: oklch(
    from var(--color-primary) var(--l-colored-text) clamp(0, c, 0.12) h
  );
  --color-secondary-text: oklch(
    from var(--color-secondary) var(--l-colored-text) clamp(0, c, 0.12) h
  );
  --color-accent-text: oklch(
    from var(--color-accent) var(--l-colored-text) clamp(0, c, 0.12) h
  );
  --color-warning-text: oklch(
    from var(--color-warning) var(--l-colored-text) clamp(0, c, 0.12) h
  );

  --color-error-text: oklch(
    from var(--color-error) var(--l-colored-text) clamp(0, c, 0.12) h
  );

  --color-success-text: oklch(
    from var(--color-success) var(--l-colored-text) clamp(0, c, 0.12) h
  );

  --color-accent-tint: red;
  --color-accent-tint: color-mix(
    in oklch,
    var(--color-accent) 50%,
    var(--color-base-100)
  );

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --animate-fadein: fade-in 300ms forwards;
  --animate-fadeout: fade-out 300ms forwards;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@utility link {
  @variant dark {
    color: oklch(from var(--color-primary) 80% c h);
  }
}

@utility btn-primary {
  --color-btn-soft: var(--color-primary-text);
}

@utility btn-secondary {
  --color-btn-soft: var(--color-secondary-text);
}

@utility btn-accent {
  --color-btn-soft: var(--color-accent-text);
}

@utility btn-soft {
  color: var(--color-btn-soft);
  &:hover {
    color: var(--btn-fg);
  }
}

@utility link-secondary {
  @variant dark {
    color: oklch(from var(--color-secondary) 80% c h);
  }
}

@layer components {
}
