---
import { auth } from "#/auth";
import { db } from "#/db";
import SysAdminLayout from "#/layouts/SysAdmin.astro";
import { rooms } from "#/schemas/coreD1-schema";
import { RoomDetailPage } from "@/components/sysAdmin/rooms/RoomDetailPage";
import type { User } from "better-auth/types";
import { eq } from "drizzle-orm";

export const prerender = false;

const { id } = Astro.params;

const [room] = await db.select().from(rooms).where(eq(rooms.id, id!)).limit(1);

if (!room) return Astro.redirect("/sysadmin/rooms/");

let creator: User | null = null;
try {
  creator = await auth.api.getUser({
    query: { id: room.created_by_user_id },
    headers: Astro.request.headers,
  });
} catch {
  //
}
---

<SysAdminLayout title={room.name}>
  <div class="p-4">
    <RoomDetailPage room={room} creator={creator} client:load />
  </div>
</SysAdminLayout>
