---
import { auth } from "#/auth";
import SysAdminLayout from "#/layouts/SysAdmin.astro";
import { AdminUserList } from "@/components/sysAdmin/users/AdminUserList";
import type { UserWithRole } from "better-auth/plugins";

export const prerender = false;

let users: UserWithRole[] = [];
let total = 0;

try {
  const result = await auth.api.listUsers({
    query: {},
    headers: Astro.request.headers,
  });
  users = result.users;
  total = result.total;
} catch {
  //
}
---

<SysAdminLayout title={"Users 🕵️‍♀️"} class="flex flex-col">
  {
    (
      <div class="flex-1">
        <AdminUserList users={users} total={total} client:load />
      </div>
    )
  }
</SysAdminLayout>
