@reference "@/styles/global.css";

.toast {
  [data-scope="toast"][data-part="root"] {
    translate: var(--x) var(--y);
    scale: var(--scale, 1);
    z-index: var(--z-index);
    height: var(--height);
    opacity: var(--opacity);
    will-change: translate, opacity, scale;
    transition:
      translate 250ms cubic-bezier(0.21, 1.02, 0.73, 1),
      scale 250ms cubic-bezier(0.21, 1.02, 0.73, 1),
      opacity 250ms cubic-bezier(0.21, 1.02, 0.73, 1),
      height 250ms cubic-bezier(0.21, 1.02, 0.73, 1);

    display: grid;
    grid-auto-columns: auto 1fr auto;
    align-items: center;
    gap: var(--spacing-3, 0.75rem);
    width: 28rem;
    @media (max-width: 640px) {
      width: 100%;
    }

    padding: var(--spacing-4, 1rem);

    &[data-overlap] {
      overflow: hidden;
    }

    &[data-state="closed"] {
      transition:
        translate 250ms cubic-bezier(0.06, 0.71, 0.55, 1),
        scale 250ms cubic-bezier(0.06, 0.71, 0.55, 1),
        opacity 125ms cubic-bezier(0.06, 0.71, 0.55, 1);
    }

    .icon {
      grid-area: 1/1;
    }
    .title {
      grid-area: 1/2;
    }
    .close {
      grid-area: 1/3;
      align-self: flex-start;
    }
    .details {
      grid-area: 2/1 / span 1 / span 3;
    }
  }
}
