@import "#/styles/global.css";
/* inspiration: https://freefrontend.com/css-sidebar-menus/ */

@property --sidebar-width {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@keyframes openSidebar {
  from {
    --sidebar-width: 0;
  }
  to {
    --sidebar-width: 16;
  }
}

@keyframes closeSidebar {
  from {
    --sidebar-width: 16;
  }
  to {
    --sidebar-width: 0;
  }
}

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-base-100);
  border-top-left-radius: calc(var(--spacing) * 3);
  border-bottom-left-radius: calc(var(--spacing) * 3);
  border-color: oklch(from var(--color-base-content) l c h / 0.2);
  border-width: 1px;
  border-right-width: 0;
  display: grid;
  grid-template-columns: [tabs] auto [content] 1fr;
  --contentWidthWhenOpen: var(--container-xs);
  --sidebarWidth: 0px;
  &[data-mobile-open] {
    --sidebarWidth: var(--contentWidthWhenOpen);
  }

  @container (width >= 80rem) {
    --sidebarWidth: var(--contentWidthWhenOpen);
    &[data-desktop-closed] {
      --sidebarWidth: 0px;
    }

    position: relative;
    /*background-color: var(--color-red-900);*/
  }
}

.tabList {
  margin-top: calc(var(--spacing) * 4);
  padding: calc(var(--spacing) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.tabButton {
  border: 0px solid oklch(from var(--color-base-content) l c h / 0.3);
  color: var(--color-base-content);
  padding: calc(var(--spacing) * 1);
  border-radius: var(--spacing);
  transition:
    scale 200ms ease-out,
    background-color 200ms;
  cursor: pointer;
  &:hover:not(&[aria-selected="true"]) {
    /*border: 1px solid var(--color-accent);*/
    background-color: oklch(from var(--color-accent) l c h / 0.3);
    scale: 1.2;
  }
  &[aria-selected="true"] {
    background-color: var(--color-accent);
    color: var(--color-accent-content);
    cursor: default;
  }
}

.contentArea {
  width: var(--sidebarWidth);
  overflow: hidden;
  position: relative;
}

.tabContent {
  overflow: auto;
  position: absolute;
  inset: 0;
}
