---
import { type User, auth } from "#/auth/auth";
import AdminLayout from "#/layouts/Admin.astro";
import { UserDetailPage } from "@/components/admin/users/UserDetailPage";

export const prerender = false;

const { id } = Astro.params;

let user = null;
try {
  // types for user admin don't include additional fields
  // https://github.com/better-auth/better-auth/issues/6318
  user = (await auth.api.getUser({
    query: { id: id! },
    headers: Astro.request.headers,
  })) as User | undefined;
} catch {
  //
}

if (!user) return Astro.redirect("/admin/users/");
---

<AdminLayout title={user.name ?? user.email}>
  <div class="p-4">
    <UserDetailPage user={user} client:load />
  </div>
</AdminLayout>
